/* Flatly
 * Bootswatch
 *= require_self
 *= require flatly/loader
 *= require flatly/bootswatch
*/

/*.footer {
	padding: 40px 0;
}
*/

html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -55px;
}

#push,
.footer {
  height: 55px;
}

.footer {
	padding: 10px 0 0 0;
}
