/* Flatly
 * Bootswatch
 *= require_self
 *= require flatly/loader
 *= require flatly/bootswatch
*/

.post-content {
  font-size: 24px;
}

@media (max-width: 468px) {
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* フッタと同じ高さに設定 */
    margin-bottom: 60px;

    /* 一番下までスクロールした時の余白 */
    padding-bottom: 0;
  }

  .form-to-footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    padding: 14px 8px;
    width: 100%;
    background: #2C3E50;
    /* フッタの高さ */
    height: 128px;
    z-index: 10;
  }

  .set-form-width {
    width: 60%;
    color: red;
    background: white;
  }

  .set-btn-width {
    width: 100%;
  }

  .footer {
    padding: 0 0 128px 0;
  }
}
