/* Flatly
 * Bootswatch
 *= require_self
 *= require flatly/loader
 *= require flatly/bootswatch
*/

/*.footer {
  padding: 40px 0;
}
*/

html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -55px;
}

#push,
.footer {
  height: 55px;
}

.footer {
  padding: 10px 0 0 0;
}

.badge {
  float: right;
  margin: 12px 9px 0 0;
}

.list-content {
  width: 90%;
  float: left;
}

.list-group-item {
  width: 100%;
}

.list-group-item a {
  display: block;
  width: 100%;
  margin-right: 0;
  padding: 10px 15px;
}

@media (max-width: 768px) {
  .list-content {
    width: 85%;
  }
}
