// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.department-name {
  margin-bottom: 25px;
}

.announce {
  margin-bottom: 25px;
}

.post-content {
  font-size: 24px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  html {
    position: relative;
    height: 100%;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px;
    padding-bottom: 0;
  }

  .form-to-footer {
    position: fixed;
    bottom: 0;
    margin: 0 0 0 -15px;
    padding: 0 8px;
    width: 100%;
    background: #2C3E50;
    height: 68px;
    z-index: 10;
  }

  .set-form-width {
    width: 70%;
    background: white;
    float: left;
    margin: -2px 10px 0 0;
  }

  .set-btn-width {
    width: 26%;
    margin: -2px 0;
    float: left;
  }

  .footer {
    padding: 0 0 120px 0;
  }
}
